body{
    padding-top: 70px;
}
.jumbotron{
    color: #2c3e50;
    background: rgb(225, 235, 246);
}
.jumbotron h1{
    text-transform: capitalize;
}

.jumbotron p::first-letter{
    text-transform: capitalize;
    
}

.navbar-inverse{
    background: #2c3e50;
}

.navbar-inverse .navbar-nav>li>a,.navbar-inverse .navbar-brand{
    color:white;
}
